fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
bcrypt>=4.0.0
pdfplumber
openai
requests
supabase
python-multipart
python-dotenv
httpx
pgvector
numpy
pydantic-settings
email-validator
pydantic[email]